.bookListItem {
  width: 90%;
  max-width: 75rem;
  border: 1px solid #e8e8e8;
  display: flex;
  height: 10.625rem;
  background-color: white;
}

.bookLeft {
  width: 40%;
  margin-left: 1.688rem;
}

.category {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: normal;
}

.title {
  font-weight: bold;
  letter-spacing: -0.2px;
}

.author {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: normal;
  color: #4386bf;
}

.booksBtnList {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: start;
}

.bookBtn {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: normal;
  border: none;
  background-color: white;
  color: #4386bf;
}

.bookProgressIcon {
  width: 7.25rem;
}

.booksRigth {
  width: 52%;
  display: flex;
  justify-content: space-around;
}

.line {
  width: 0.125rem;
  height: 1.5rem;
  border-left: solid 2px #e8e8e8;
}

.progress {
  display: flex;
  align-items: center;
}

.percentage {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 0 0 0.688rem;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: normal;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 0 0.75rem 0.75rem;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: normal;
}

.bookProgress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.lineB {
  width: 0.125rem;
  height: 4.375rem;
  margin-top: 3rem;
  border-left: solid 2px #e8e8e8;
}

.currentChapter {
  margin: 0;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: normal;
}

.chapter {
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 0;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.updateProgress {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 0;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.fontRoboto {
  font-family: 'Roboto Slab', serif;
}

.normal {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.customBlack {
  color: #121212;
}
